
<br>
<h1 align="center">Ingreso de Catedraticos</h1>
<br><br>

<div class="col-md-4 offset-md-4">

    <div class="card">
        
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="cat.Nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" [(ngModel)]="cat.Telefono" placeholder="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="correo" [(ngModel)]="cat.Correo" placeholder="Correo" class="form-control">
                </div>
                
                <button class="btn btn-sucess btn-block" (click)="GuardarCatedratico">
                    Guardar
                </button>

            </form>
        </div>

    </div>

</div>


